@import "{{ site.theme }}";
/*include my custom css now

.main-content {
	color:#57c0ed;
}

body {
	color:rgb(51,51,51);
}


*/

.page-header{
	    text-align: center;
		color: #FFF;
		background-color: #b7f0f4;
		background-image: linear-gradient(120deg, #5775ed, #57c0ed);
}

