---
---
// Headers

$header-bg-color: #5775ed !default;
$header-bg-color-secondary: #57c0ed !default;
$section-headings-color: #57c0ed !default;
$body-text-color: #333333 !default;

@import "{{ site.theme }}";
